// Vue-Select form-control
.form-control {
  border: 2px solid #404040 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: none;
}

.font-weight-regular {
  font-weight: 500 !important;
}

// Vue-Select
$vs-border-width: 2px !default;
$vs-border-style: solid !default;
$vs-border-radius: 2px !default;
$vs-border-color: #404040;

.card-parameters span {
  @extend .font-weight-regular
}

#attributes > div:nth-child(2) .custom-range::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  border-radius: 0;
  background-image: url("/images/hearthstone/icons/mana_Input.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  margin-top: -0.5rem;
}

#attributes > div:nth-child(3) .custom-range::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  border-radius: 0;
  background-image: url("/images/hearthstone/icons/attack_Input.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  margin-top: -0.5rem;
}

#attributes > div:nth-child(4) .custom-range::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  border-radius: 0;
  background-image: url("/images/hearthstone/icons/health_Input.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  margin-top: -0.5rem;
}

.custom-range:focus::-webkit-slider-thumb {
  box-shadow: none;
}

.tooltip {
  margin: 4px;
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #315376;
}

.text-border {
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.95885px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.14147px 1.99499px 0px, rgb(0, 0, 0) -0.83229px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.70157px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.42159px -1.95506px 0px, rgb(0, 0, 0) 0.56732px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.55883px 0px;
}

.heroIcon {
  cursor: pointer;
  border: 2px solid #ebe7e3;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4);
}